.lead-block__text-content {
	grid-area: text;
	box-sizing: border-box;
	width: 90%;
	align-self: center;
	justify-self: center;
}

@media screen and (min-width: 768px) {
	.lead-block__text-content {
		justify-self: end;
	}
}
