.places__image {
	grid-area: image;
	width: 100%;
	min-height: 220px;
	object-fit: cover;
	margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
	.places__image {
		max-width: 400px;
		min-height: 350px;
	}
}

@media screen and (min-width: 1024px) {
	.places__image {
		max-width: 500px;
		min-height: 400px;
		align-self: center;
	}
}

@media screen and (min-width: 1280px) {
	.places__image {
		max-width: 650px;
		min-height: 550px;
	}
}
