.places__title {
	grid-area: title;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	width: 90%;
	text-transform: none;
	color: #000;
	font-size: 24px;
	text-align: center;
}

.places__title:not(:first-of-type) {
	margin: 0;
	padding-top: 60px;
}

@media screen and (min-width: 1024px) {
	.places__title {
		text-align: left;
		font-size: 28px;
	}
}

@media screen and (min-width: 1280px) {
	.places__title {
		font-size: 32px;
	}
}
